@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
html {
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}
button {
  cursor: pointer;
}
/* 헤더 */
.header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  z-index: 999;
}
.header-logo {
  height: 100%;
  width: 225px;
  font-size: 22px;
  line-height: 28px;
  padding-left: 20px;
  margin-right: 60px;
  font-weight: bold;
}
.header-logo > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.header-logo > a > img {
  width: 40px;
  height: 33px;
  margin-right: 10px;
}
.header-search {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  position: relative;
}
.header-search > form {
  width: 100%;
  height: 100%;
}
.header-search > form > input {
  width: 100%;
  height: 100%;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 10px;
  padding-left: 30px;
}
.header-search-submit {
  position: absolute;
  background-color: transparent;
  border: 0;
  outline: 0;
  top: 10px;
  right: 20px;
}
.header-menu {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 35px;
  height: 20px;
  background: url("../images/header_menu.png") no-repeat center;
  background-size: contain;
}
.header-menu.active {
  background: url("../images/header_x.png") no-repeat center;
  background-size: contain;
}
.header-master {
  position: absolute;
  right: 50px;
  font-size: 22px;
  font-weight: bold;
  color:#f39100;
}
/* 사이드바 */
.sidebar {
  width: 255px;
  height: 100%;
  background-color: #fcfcfc;
  padding-top: 40px;
  border-radius: 0 30px 0 0;
  position: fixed;
  top: 80px;
  left: 0;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  z-index: 999;
}
.sidebar-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px 0px #aaaaaa80;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.sidebar-title {
  width: 100%;
  height: 40px;
  padding-left: 50px;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}
.sidebar-menu {
  width: 100%;
  height: 100%;
}
.sidebar-menu div {
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.year-title {
  background-color: #f4f4f4;
  border-radius: 10px;
}
.year-title > h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 70px;
  flex-shrink: 0;
  margin-left: 20px;
  text-align: right;
}
.month-title > h3 {
  width: 70px;
  flex-shrink: 0;
  margin-left: 20px;
  text-align: right;
  font-size: 14px;
  font-weight: 350;
  line-height: 20px;
}
.day-title > h3 {
  width: 70px;
  flex-shrink: 0;
  margin-left: 40px;
  text-align: right;
  position: relative;
  font-size: 13px;
  font-weight: 350;
  line-height: 19px;
}
.day.active h3 {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  color: #f39100;
}
.day-title > img {
  position: absolute;
  left: 60px;
}
.sidebar-menu div > span {
  font-size: 13px;
  font-weight: 350;
  line-height: 19px;
  text-align: left;
  color: #bbb;
  margin-right: 15px;
}
.month-list {
  display: none;
}
.year-title.active ~ .month-list {
  display: block;
}
.day-list {
  display: none;
}
.month-title.active ~ .day-list {
  display: block;
}
/* 매니저버튼 */

.manager {
  position: fixed;
  bottom: 35px;
  left: 30px;
  cursor: pointer;
  z-index: 99999;
}
.manager > img {
  display: none;
  width: 80px;
  height: 80px;
}
.manager > img.active {
  display: block;
}
.manager-open {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  display: none;
}
.manager-open.active {
  display: flex;
}
.manager-open > li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.manager-open > li > img {
  background-color: transparent;
}
.manager-media {
  padding: 30px 40px;
  background-color: #3971ff;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  border-radius: 40px;
  box-shadow: 0px 5px 30px 0px #55555566;
}
.manager-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 5px 30px 0px #55555566;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}
@media (max-width: 800px) {
  .header-menu {
    display: block;
  }
  .header-search {
    position: fixed;
    top: 160px;
    z-index: 9999;
    width: 100%;
    height: 50px;
    padding: 0 10px;
  }
  .header-search-submit {
    width: 20px;
    height: 20px;
    top: 15px;
  }
  .header-search > form > button > img {
    transform: scale(1.4);
  }
  .sidebar,
  .header-search {
    display: none;
  }
  .sidebar.active,
  .header-search.active {
    display: block;
  }
  .sidebar {
    width: 100%;
    border-radius: 0;
    z-index: 99;
    padding-top: 150px;
  }
  .sidebar-title {
    padding-left: 20px;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .sidebar-btn {
    width: 50px;
    height: 50px;
  }
  .manager {
    bottom: 20px;
    left: 20px;
  }
  .manager-close {
    position: absolute;
    top: -20px;
    right: -40px;
  }
  .manager-media {
    padding: 10px 20px;
    flex-shrink: 0;
  }
  .manager-btn {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .main {
    padding: 10px;
  }
}