@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* 메인 */
.wrap {
  padding-top: 80px;
  padding-left: 255px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.main {
  width: 100%;
  height: 100%;
  padding: 30px 5%;
}
.main-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.main-btns {
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  gap: 15px;
}
.main-btns > button {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 10px;
}
.main-btns-move {
  background-color: #fafafa;
  border: 1px solid #eee;
}
.main-btns-link {
  color: #fff;
  background-color: #fab042;
  border: 1px solid #fab042;
}
.main-title {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.main-title > h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
}
.main-title-date {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 16px;
  font-weight: 350;
  line-height: 23px;
  color: #aaa;
}
.main-media {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.main-media > input {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  outline: none;
  margin-right: 25px;
}
.main-media > button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid #eeeeee;
  background-color: #fafafa;
  border-radius: 10px;
  margin-right: 10px;
  padding: 0 20px;
}
.header-search-download {
  background-color: #fab042 !important;
  color: #fff !important;
}
.main-video-wrap {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.main-video {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(326px, 1fr));
  gap: 25px;
}
.main-video > li {
  height: 300px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 4px 20px 0px #aaaaaa40;
  padding: 15px;
}
.main-video > li > input {
  margin-bottom: 10px;
}
.main-video > li > img {
  width: 100%;
  height: 190px;
  margin-bottom: 5px;
  background-color: yellowgreen;
  border-radius: 5px;
}
.main-video-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.main-video-date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #777;
}
/* 페이징 */
.page {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.page > button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.page-prebtn {
  margin-left: 10px;
}
.page-nextbtn {
  margin-right: 10px;
  transform: rotate(180deg);
}
.page-num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  font-size: 17px;
  font-weight: 350;
  line-height: 25px;
  color: #999;
}
.page-num > li {
  cursor: pointer;
  padding: 0 10px;
}
.page-num > li.active {
  color: #333;
  font-weight: bold;
}
/* 다운로드 화면 */
.download-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
}
.download-wrap > img {
  width: 400px;
  height: 300px;
  background-color: yellowgreen;
}
.download-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.download-btns > button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #eeeeee;
  background-color: #fab042;
  border-radius: 10px;
  padding: 0 20px;
}
/* 카테고리 */
.category-wrap {
  display: flex;
  gap: 30px;
}
.category-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid#707070;
}
.category-sidebar {
  width: 300px;
  min-width: 200px;
}
.category-control {
  min-width: 240px;
}
.category-make {
  margin-bottom: 50px;
  width: 100%;
}
.category-make > p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
}
.category-make > form {
  display: flex;
  gap: 20px;
  align-items: center;
}
.category-make input {
  width: 250px;
  height: 40px;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 10px;
  padding-left: 10px;
}
.category-make button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background-color: #fab042;
  color: #fff;
}
.category-make button:hover {
  background-color: #00aaff;
}
.category-move {
  margin-bottom: 50px;
}
.category-move > p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.category-move-btns {
  display: flex;
  flex-direction: column;
}
.category-move-btns > button {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}
.category-move-btns > button:hover {
  background-color: #bbb;
}
.category-hide {
  display: flex;
  flex-direction: column;
}
.category-hide > p {
  font-size: 18px;
}
.category-hide > span {
  font-size: 14px;
  color: red;
  margin-bottom: 30px;
}
.category-hide > button {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}
.category-hide > button:hover {
  background-color: #bbb;
}
/* 팝업 */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: none;
}
.popup.active {
  display: flex;
}
.popup-wrap {
  width: 550px;
  height: 400px;
  background-color: #fff;
  padding: 30px;
}
.popup-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
}
.popup-title-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fab247;
}
.popup-title > h3 {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
}
.popup-form {
  display: block;
  width: 400px;
  margin: 0 auto;
}
.popup-form > form {
  width: 100%;
}

.popup-form-box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 15px;
}

.form-box2 {
  align-items: start;
}
.popup-form-box > p {
  width: 100px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  flex-shrink: 0;
}
.popup-form-box > input {
  border: 1px solid #bbbbbb;
  box-shadow: 0px 0px 7px 0px #aaaaaa59;
  padding: 5px 10px;
  border-radius: 5px;
  width: calc(100% - 100px);
}
.popup-form-date {
  width: 100%;
}
.popup-form-date input {
  width: 18px;
  height: 18px;
  border: 1px solid #bbbbbb;
}
.popup-form-date p {
  padding-left: 15px;
}
.popup-form-date select {
  margin-left: 25px;
  width: 125px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.popup-form-date-up,
.popup-form-date-down {
  display: flex;
  align-items: center;
  width: 100%;
}

.popup-form-btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  margin-top: 50px;
}
.popup-form-btns > button {
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  line-height: 19px;
}
.form-btns-submit {
  border: 1px solid #3971ff;
  color: #fff;
  background-color: #3971ff;
}
.popup-close {
  border: 1px solid #3971ff;
  background-color: #fff;
  color: #3971ff;
}
/* 공유폴더 */
.sidebar-share {
  overflow: auto;
}
.sidebar-share-list {
  width: 100%;
}
.sidebar-share-list > h3 {
  width: 100%;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}
.sidebar-share-list > li {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  padding-left: 50px;
}
.sidebar-share-list > li.active {
  color: red;
}
.sidebar-share-make {
  width: 100%;
  margin-top: 50px;
  padding-left: 10px;
  margin-bottom: 150px;
}
.sidebar-share-make > form {
  display: flex;
  align-items: center;
}
.sidebar-share-make > form > input {
  width: 80%;
  border: 1px solid #dfdfdf;
  outline: 0;
  padding: 10px;
  height: 30px;
}
.sidebar-share-make > form > button {
  width: 20%;
  height: 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fab042;
  background-color: #fab042;
}
.share-table {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.share-table .text-left {
  text-align: left;
}
.share-table thead {
  background-color: #eff4ff;
  border-bottom: 1px solid #707070;
}
.share-table tr {
  height: 40px;
  border-bottom: 1px solid #707070;
}
.share-table button {
  border-radius: 5px;
  border: 1px solid #707070;
  padding: 3px 7px;
}
.share-table button.active {
  background-color: #3971ff;
  color: #fff;
}
.share-table .fa-folder {
  color: rgb(238, 238, 60);
}
/* 반응형 */
@media (max-width: 1024px) {
  .main {
    padding: 30px;
  }
  .main-btns {
    flex-direction: column;
    top: 0;
    gap: 10px;
  }
  .main-video {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .category-make > form {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .main-btns {
    display: none;
  }

  .main-btns {
    flex-direction: row;
    right: unset;
  }
  .main-btns.active {
    display: flex;
    z-index: 999;
    position: fixed;
    top: 160px;
    left: 10px;
  }
  .main-btns > button {
    width: 120px;
    height: 40px;
  }
  .main {
    padding: 20px;
  }
  .main-top {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 80px;
    left: 0;
    padding-left: 20px;
    background-color: #fff;
    z-index: 9;
  }
  .main-video {
    padding-top: 100px;
  }
  .wrap {
    padding-left: 0;
  }

  .page {
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .page-num {
    margin: 0 20px;
  }
  .page-num > li,
  .page-prebtn,
  .page-nextbtn {
    display: none;
  }
  .page-num > li.mo-on,
  .page-prebtn.mo-on,
  .page-nextbtn.mo-on {
    display: block;
  }
  .category-wrap {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .popup {
    top: 80px;
  }
  .popup-wrap {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .popup-title {
    margin-bottom: 20px;
  }
  .popup-form {
    width: 100%;
  }
  .popup-form-box {
    flex-direction: column;
    align-items: start;
  }
  .popup-form-box > p {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 10px;
    width: 100%;
  }
  .popup-form-box > input {
    height: 40px;
    width: 100%;
  }
  .popup-form-date p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }
  .popup-form-date select {
    height: 40px;
    width: 150px;
  }
  .popup-form-date-up {
    margin-bottom: 30px;
  }
  .popup-form-btns {
    margin-top: 20px;
  }
  .download-wrap > img {
    width: 350px;
  }
  .category-wrap {
    flex-direction: column;
  }
  .category-move-btns > button {
    width: 100%;
  }
  .category-make input {
    width: 100%;
  }
  .category-hide {
    margin-bottom: 100px;
  }
  .category-hide > button {
    width: 100%;
  }
  .share-table {
    font-size: 14px;
    }
}
